<a href="https://colab.research.google.com/github/RafalKostrzynski/175IC-machine-learning/blob/main/zad.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Imports

import sklearn 
import numpy as np
import pandas as pd
import random 
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [2]:
# creating data

data={
'size':[], 
'color':[], 
'gender':[], 
'price':[], 
'weight':[], 
'bought':[] 
} 
for _ in range(20):
  data['size'].append(random.choice(["XS","S","M","L","XL"]))
  data['color'].append(random.choice(["BLACK","WHITE","GREEN","YELLOW","BLUE","RED"]))
  data['gender'].append(random.choice(["MALE","FEMALE","DIVERSE"]))
  data['price'].append(round(random.uniform(5,2000),2))
  data['weight'].append(random.randint(40,200))
  data['bought'].append(random.choice(["YES","NO"]))

df_raw=pd.DataFrame(data=data) 
df=df_raw.copy() 

for col in ['size','color','gender','bought']: 
  df[col]=df[col].astype('category') 

for col in ['weight']: 
  df[col]=df[col].astype('float') 

df.info()
df.describe(include=['float']).T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    20 non-null     category
 1   color   20 non-null     category
 2   gender  20 non-null     category
 3   price   20 non-null     float64
 4   weight  20 non-null     float64
 5   bought  20 non-null     category
dtypes: category(4), float64(2)
memory usage: 1.1 KB

        count      mean         std  ...      50%        75%      max
price    20.0  901.4895  531.065991  ...  853.015  1286.6475  1938.77
weight   20.0  124.4000   48.073847  ...  132.500   162.5000   197.00

[2 rows x 8 columns]

In [3]:
# Transforming String type data

le=LabelEncoder()
le.fit_transform(df['bought'])
print(le.classes_)

df['bought']=le.fit_transform(df['bought'])
print(df)

['NO' 'YES']
   size   color   gender    price  weight  bought
0     S   WHITE  DIVERSE   375.55    64.0       0
1     M   WHITE     MALE   883.86   197.0       0
2    XS   BLACK  DIVERSE  1365.59   130.0       0
3     M   WHITE  DIVERSE  1938.77   180.0       0
4    XL   GREEN   FEMALE   551.20    60.0       0
5     S  YELLOW  DIVERSE   156.28   135.0       1
6    XS  YELLOW  DIVERSE  1281.31    41.0       0
7     M     RED     MALE   699.22    82.0       1
8    XL    BLUE   FEMALE   475.15   160.0       0
9    XS   GREEN  DIVERSE  1551.10    51.0       1
10    M   BLACK  DIVERSE  1302.66   176.0       1
11   XL    BLUE   FEMALE  1120.06    97.0       0
12   XS   GREEN   FEMALE    83.70   139.0       0
13   XL   WHITE     MALE   671.07   153.0       1
14    L   BLACK   FEMALE   739.72   162.0       1
15    S  YELLOW   FEMALE   956.29   164.0       0
16    M   BLACK  DIVERSE   822.17   123.0       1
17   XS    BLUE   FEMALE  1702.48   181.0       0
18   XL    BLUE  DIVERSE  1231.22    94.0       0
19   XL   WHITE  DIVERSE   122.39    99.0       0

In [4]:
# inverting Data
# le.inverse_transform(df['bought']) 
# print(df)

In [5]:
#categorizing input data
pd.get_dummies(data=df, drop_first = True)

      price  weight  bought  ...  color_YELLOW  gender_FEMALE  gender_MALE
0    375.55    64.0       0  ...             0              0            0
1    883.86   197.0       0  ...             0              0            1
2   1365.59   130.0       0  ...             0              0            0
3   1938.77   180.0       0  ...             0              0            0
4    551.20    60.0       0  ...             0              1            0
5    156.28   135.0       1  ...             1              0            0
6   1281.31    41.0       0  ...             1              0            0
7    699.22    82.0       1  ...             0              0            1
8    475.15   160.0       0  ...             0              1            0
9   1551.10    51.0       1  ...             0              0            0
10  1302.66   176.0       1  ...             0              0            0
11  1120.06    97.0       0  ...             0              1            0
12    83.70   139.0       0  ...             0              1            0
13   671.07   153.0       1  ...             0              0            1
14   739.72   162.0       1  ...             0              1            0
15   956.29   164.0       0  ...             1              1            0
16   822.17   123.0       1  ...             0              0            0
17  1702.48   181.0       0  ...             0              1            0
18  1231.22    94.0       0  ...             0              0            0
19   122.39    99.0       0  ...             0              0            0

[20 rows x 14 columns]

In [6]:
# standardizing digits
scaler = StandardScaler() 
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']]) 

print(df)
print(df_raw)

   size   color   gender     price    weight  bought
0     S   WHITE  DIVERSE -1.016074 -1.289040       0
1     M   WHITE     MALE -0.034059  1.549409       0
2    XS   BLACK  DIVERSE  0.896606  0.119514       0
3     M   WHITE  DIVERSE  2.003946  1.186599       0
4    XL   GREEN   FEMALE -0.676732 -1.374406       0
5     S  YELLOW  DIVERSE -1.439687  0.226222       1
6    XS  YELLOW  DIVERSE  0.733784 -1.779899       0
7     M     RED     MALE -0.390769 -0.904889       1
8    XL    BLUE   FEMALE -0.823655  0.759765       0
9    XS   GREEN  DIVERSE  1.254997 -1.566482       1
10    M   BLACK  DIVERSE  0.775030  1.101233       1
11   XL    BLUE   FEMALE  0.422261 -0.584763       0
12   XS   GREEN   FEMALE -1.579906  0.311589       0
13   XL   WHITE     MALE -0.445153  0.610373       1
14    L   BLACK   FEMALE -0.312526  0.802448       1
15    S  YELLOW   FEMALE  0.105870  0.845132       0
16    M   BLACK  DIVERSE -0.153239 -0.029878       1
17   XS    BLUE   FEMALE  1.547452  1.207941       0
18   XL    BLUE  DIVERSE  0.637014 -0.648788       0
19   XL   WHITE  DIVERSE -1.505160 -0.542080       0
   size   color   gender    price  weight bought
0     S   WHITE  DIVERSE   375.55      64     NO
1     M   WHITE     MALE   883.86     197     NO
2    XS   BLACK  DIVERSE  1365.59     130     NO
3     M   WHITE  DIVERSE  1938.77     180     NO
4    XL   GREEN   FEMALE   551.20      60     NO
5     S  YELLOW  DIVERSE   156.28     135    YES
6    XS  YELLOW  DIVERSE  1281.31      41     NO
7     M     RED     MALE   699.22      82    YES
8    XL    BLUE   FEMALE   475.15     160     NO
9    XS   GREEN  DIVERSE  1551.10      51    YES
10    M   BLACK  DIVERSE  1302.66     176    YES
11   XL    BLUE   FEMALE  1120.06      97     NO
12   XS   GREEN   FEMALE    83.70     139     NO
13   XL   WHITE     MALE   671.07     153    YES
14    L   BLACK   FEMALE   739.72     162    YES
15    S  YELLOW   FEMALE   956.29     164     NO
16    M   BLACK  DIVERSE   822.17     123    YES
17   XS    BLUE   FEMALE  1702.48     181     NO
18   XL    BLUE  DIVERSE  1231.22      94     NO
19   XL   WHITE  DIVERSE   122.39      99     NO